body {
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
  background:#f7f7f7;
  color:#333;
}

header {
  background:#1e1e1e;
  color:white;
  padding:50px 20px;
  text-align:center;
}

section {
  max-width:900px;
  margin:auto;
  padding:30px 20px;
}

.card {
  background:white;
  border-radius:10px;
  padding:20px;
  margin-bottom:20px;
  border:1px solid #ddd;
}

.btn {
  background:#ff9900;
  color:white;
  padding:10px 16px;
  border-radius:6px;
  text-decoration:none;
  display:inline-block;
  margin-top:10px;
}

.product {
  display:flex;
  gap:20px;
  padding:15px;
  border:1px solid #eee;
  border-radius:8px;
  margin-bottom:20px;
  background:white;
}

.product img {
  width:150px;
  border-radius:8px;
}
